
*{
    margin:0px;
    padding: 0px;
  }

    .container-1{
        height: 100vh;
        width: 100vw;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        /*overflow: hidden;*/
    }
    .box-1{
        position: relative;
        transform: translate(13%,10%) !important;
    }
    .box-1{
      flex:2;
      order:1;
    }
    .box-2{
        position: relative;
        transform: translate(1%,1%) !important;
    }
    
    .box-2{
      flex:2;
      order:2;
    }
  
    .box-3{
      flex:1;
      order:3;
    }
    .box-3{
        position: relative;
        transform: translate(1%,15%) !important;
    }
/*
    .orange-button > button:hover{
        background-color: white !important;
        color: black !important;
        border: 1px solid black ;
    }
    */
    
  
    
    
    
  